<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partial/head") %>
</head>
<body>
    <div class="container-fluid">
        <%- include("../partial/nav") %>

    </div>
 <main>
THis is offer page
 </main>
</body>
</html>